# Node dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
/coverage

# Build output
/dist

# OS-specific
.DS_Store
Thumbs.db
